# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Android
android/.gradle/
android/.idea/
android/local.properties
android/**/*.iml
android/app/*.iml
android/app/**/*.iml
android/build/
android/app/build/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Podfile.lock
ios/**/*.xcworkspace/
ios/**/*.xcuserstate

# VS Code
.vscode/
*.code-workspace

# IntelliJ
.idea/
*.iml

# Keys & Secrets
*.jks
*.keystore
*.pem
*.key
.env
secrets.json
key.properties

# Mac
.DS_Store

# Web
web/**

# Windows
windows/**

# Linux
linux/**

# macOS
macos/**
