<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tikme">
    
    <!-- Add permissions here -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    
    <!-- For Android 10-12 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    
    <!-- For Android 10+ to access public directories -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
                     tools:ignore="ScopedStorage" />
    
    <!-- Optional: For better media file handling -->
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:label="TikMe"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- Main Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- Add deep linking for video sharing -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tikme" android:host="video" />
            </intent-filter>

            <!-- Fallback deep link intent filter -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tikme" />
            </intent-filter>
            
            <!-- Add intent filter for handling HTTP URLs -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
            <!-- Add intent filter for handling HTTPS URLs -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
            <!-- Add intent filter for file sharing -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            
            <!-- Add intent filter for multiple file sharing -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
            
            <!-- Add intent filter for viewing video files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- Theme metadata -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>
        
        <!-- Don't delete the meta-data below. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        
        <!-- Add queries for external apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        
        <!-- Query for YouTube -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="www.youtube.com" />
        </intent>
        
        <!-- Query for YouTube mobile -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="m.youtube.com" />
        </intent>
        
        <!-- Query for YouTube app -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="vnd.youtube" />
        </intent>
        
        <!-- Query for TikTok -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="www.tiktok.com" />
        </intent>
        
        <!-- Query for TikTok mobile -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="vm.tiktok.com" />
        </intent>
        
        <!-- Query for Instagram -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="www.instagram.com" />
        </intent>
        
        <!-- Query for Facebook -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="www.facebook.com" />
        </intent>
        
        <!-- Query for Twitter -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="twitter.com" />
        </intent>
        
        <!-- Query for X (formerly Twitter) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="x.com" />
        </intent>
        
        <!-- Query for Vimeo -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="vimeo.com" />
        </intent>
        
        <!-- Query for Dailymotion -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
            <data android:host="www.dailymotion.com" />
        </intent>
        
        <!-- Query for video players -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="video/*" />
        </intent>
        
        <!-- Query for gallery apps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="image/*" />
        </intent>
        
        <!-- Query for file managers -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
</manifest>